.sign-up {
    padding-top: 30px;
    width: 60%;
    margin: auto;
    .login-box{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        padding: 10px;
        gap: 15px;

        label{
            font-weight: bolder;
        }

        .sign {

            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            Button {
                width: 35%;
                height: 40px;
                align-self: flex-end;
            }
            
            .sign-up {
                width: 35%;
                align-self: flex-end;
            }
        }
    }
}
