.nav {
    background-color: rgba(16, 71, 99, 0.898);
    
}

.nav-bar {
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(247, 247, 146);
    border-radius: 10px 10px 0px 0px;
}

.nav-des {
    padding: 15px;
    width: 60%;
    margin: auto;
}

.nav-options {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}